<% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<div class="container">
    <div class="row">
        
        <div class="col-md-12 col-sm-12 jumbotron">
            
            <h2 class="text-center">Contact List</h2>
            <p class="text-center text-small">This is a contact saving application</p>
            
            <%= link_to('New' , new_contact_path , class:"btn btn-info pull-right"  ) %>
        </div>
    </div>

    <!--Start of list -->
    <div class="row">
        <%@contacts.each do |c| %>
            <div class="panel panel-default">
              <div class="panel-heading">
                  
                  
                  <h3 class="panel-title"><%= c.first_name%>&nbsp;<%= c.last_name %></h3>
                  
              </div>
              <div class="panel-body">
                  
                  <div class="col-md-6 col-md-offset-3 text-center">
                    <img src="<%= c.profile_img %>" width="150" height="150" alt="<%=c.first_name %>">
                 
                    
                    <ul>
                        
                        <li>Present Address: <%= c.present_address %> </li>
                        <hr>
                        <li>Permanent Address: <%= c.permanent_address %></li>
                        <hr> 
                        <li>Email : <%= c.email %></li>
                        
                        <hr>
                        <li><strong>About :</strong> <br/><%= c.about %></li>
                        
                        <hr>
                        <li>Facebook : <%= c.facebook_link %></li>
                        <hr>
                        <li>Google : <%= c.google_link %></li>

                        <hr>
                        <li>Twitter: <%= c.twitter_link %></li>
                        
                    </ul>
                  </div>
                  <div class="col-md-3">
                      <ul class="action-menu">
                          <%= link_to 'Edit' , edit_contact_path(c.id), class:"btn btn-primary" %> 
                          
                          <%= button_to 'Destroy' , {:controller => :contacts , :action=>'destroy' , :id=> c.id},method: :delete , class:"btn btn-danger" %>
                      </ul>        
                  </div> 
              </div>
          </div>    
        <% end %>    
        
        
        
        
